.navbox {
  width: 100%;
  height: 100px;
  background: #A7FF1A;
  display: flex;
  overflow: hidden;
}

.active-underline {
  width: 100% !important;
}

.link {
  width: auto;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  color: black;
  &:hover {
    .underline {
      width: 100%;
    }
  }
  .underline {
    background: #000;
    height: 2px;
    transition: 0.2s ease;
    border-radius: 2px;
    width: 0;
  }
}
.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-right: 100px;
  transition: 0.5s ease height;
}
.image {
  width: 100%;
  height: 150px;
  background-image: url("/api/baner/get");
  background-color: #A7FF1A;
  background-repeat: repeat;
  background-position: center center;
  background-size: contain;
  transition: 0.5s ease height;
}
