:host {
  overflow: hidden;
}
.clanek {
  width: 100%;
  height: 100%;
}
.nahled {
  width: 100%;
  height: 100%;
  background-image: url("/api/baner/get");
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  transition: 0.2s ease;
  justify-content: flex-start;
}
a {
  color: white;
  text-decoration: none;
}
.text {
  color: white;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,212,255,0) 100%);
  width: 100%;
  margin: 0;
  padding: 30px 20px 20px 20px;
}
p, h2 {
  margin: 0;
}
