:host {
  display: flex;
  background-color: #151515;
  color: white;
  width: 600px;
  max-height: 80dvh;
  padding: 8px 16px 16px;
  flex-direction: column;
  justify-content: space-between;
  animation: custom-dialog-enter 0.3s ease;
}

@keyframes custom-dialog-enter {
  from {
    transform: scale(0.7);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}
button {
  width: 100%;
}
button + button {
  margin-left: 16px;
}
.action {
  width: 100%;
  display: flex;
}
.content {
  max-height: 600px;
  overflow: hidden scroll;
}
.form {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  flex-direction: column;
  input {
    padding: 12px;
  }
  textarea {
    padding: 12px;
    resize: vertical;
    min-height: 100px;
  }
  .input {
    background-color: #1e1e1e;
    border: none;
    color: white;
  }
}
.file-name {
  text-align: center;
  font-style: italic;
  color: #dddddd;
}

