:host {
  width: 100%;
  height: 100%;
  display: flex;
}
.routerbox {
  width: 100%;
  height: 100%;
  background-color: #151515;
  overflow: hidden scroll;
  color: white;
  position: relative;
  .action {
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px;
    flex-direction: row;
  }
  h1 {
    margin: 0;
    padding: 0;
  }
  .router {
    margin: 0 40px;
  }
}
.bg {
  height: 140px;
  background-image: url('/waves.svg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
.loading {
  position: absolute;
  top: 0;
  z-index: 100;
}
