.clanek {
  background: #ececec;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  align-items: flex-start;
  border-radius: 4px;
  flex-direction: column;
  transition: 0.1s ease-in-out;
  &:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}
a {
  text-decoration: none;
  color: #000;
}
.nazev {
  font-size: 2.4rem;
  margin: 0 10px 20px;
}
.datum {
  margin: 0 10px;
}
img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}
