:host {
  background-color: #151515;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginbox {
  background: #A7FF1A;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  mat-form-field {
    * {
      color: black !important;
      border-bottom-color: black !important;
      background-color: transparent !important;
    }
  }
}
mat-form-field {
  width: 100%;
}
